<div class="add-paper-dialog modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><%= title %></h4>
        </div>
            <div class="pre-body">
                <div class="tabContainer"></div>
            </div>
            <div class="modal-body">
                  <% if (options.tabs) { %>
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                        <% options.tabs.forEach((tab, i) => { %>
                            <li <%= i === 0 ? 'class="active"' : '' %>><a href="#<%= tab %>" data-toggle="tab"><%= tab.type %></a></li>
                        <% }); %>
                        </ul>
                        <div class="tab-content" id="node-container">
<!--                             <form>
                                <% options.tabs.forEach((tab, i) => { %>
                                    <% tab.attributes.forEach((attr, i) => { %>
                                        <label><%= attr.name %></label>
                                    <% }); %>
                                <% }); %>
                            </form> -->
                        </div>
                    </div>
                    <% } else { %>
                    <div class="container-fluid" id="node-container">
                         <form>
                            <% schema.attributes.forEach((attr, i) => { %>
                                <label><%= attr.name %></label>
                                <!-- This is a little bit of a hack. Ideally this would check if the attribute is a multiline string. -->
                                <<%= attr.name === 'description' ? 'textarea' : 'input' %> id="attr-<%= attr.name %>" class="form-control" type="string" <%= attr.name === 'name' ? 'required' : '' %>></<%= attr.name === 'description' ? 'textarea' : 'input' %>>
                            <% }); %>
                        </form>
                    </div>
                    <% } %>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary create">Create</button>
          </div>
        </div>
    </div>
</div>
